* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Manrope';
}
body {
	width: 1024px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 61px;
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category {
	width: 200px;
	height: 56px;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 24px 47px;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 55px;
}

.order {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		margin-bottom: 8px;
	}
}

.order_carousel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 610px;
}

.order_carousel_image {
	width: 610px;
	height: 380px;
	object-fit: contain;
}

.order_button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	border: 0;
	color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
	top: 185px;
	cursor: pointer;
}

.order_button__left {
	left: -20px;
	transform: rotate(180deg);
}
.order_button__right {
	right: -20px;
}
.order_carousel_dots {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 10px;
	margin-bottom: 4px;
	background-color: white;
	border-radius: 0px 0px 12px 12px;
	box-shadow: 0px 0px 15px rgba(235, 16, 16, 0.1),
		0px 0px 2px rgba(235, 16, 16, 0.2);
}

.order_carousel_dot {
	width: 8px;
	height: 8px;
	background: linear-gradient(
		5.43deg,
		rgba(235, 16, 16, 0.5) 4.24%,
		rgba(215, 78, 78, 0.5) 115.34%
	);
	border: 0;
	border-radius: 100%;
	margin: 0 2px;
	cursor: pointer;
}

.order_carousel_dot__active {
	background: linear-gradient(5.43deg, #eb1010 4.24%, #d74e4e 115.34%);
}

.order_list {
	align-self: start;
	display: flex;
	flex-direction: column;
	gap: 6px;

	li {
		list-style-type: none;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		display: flex;

		a {
			text-decoration-line: underline;
			background: linear-gradient(5.43deg, #eb1010 4.24%, #d74e4e 115.34%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
	}
}

.list_circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background: linear-gradient(5.43deg, #eb1010 4.24%, #d74e4e 115.34%);
	border-radius: 100%;

	div {
		width: 12px;
		height: 12px;
		background-color: white;
		border-radius: 100%;
	}
}

.order_size {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 930px;
	height: 186px;
	background: white;
	border-radius: 12px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
	margin: 32px 0;

	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 24px;
	}
}

.order_number {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 16px;
	left: 16px;
	border: 1px solid black;
	border-radius: 100%;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
}

.order_size_fields {
	display: flex;
	gap: 30px;
}

.order_size_field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 148px;
	gap: 4px;

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
	}
	input {
		width: 100%;
		height: 56px;
		border-radius: 12px;
		border: 1px solid #d7d7d7;
		padding-left: 4px;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: black;
		opacity: 0.24;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	}
}

.order_total {
	font-weight: 700;
	font-size: 44px;
	line-height: 48px;
	font-feature-settings: 'liga' off;

	background: linear-gradient(5.43deg, #eb1010 4.24%, #d74e4e 115.34%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.order_texture {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	width: 930px;
	height: 564px;
	background: white;
	border-radius: 12px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
	margin: 32px 0;

	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
	}
}

.order_texture_list {
	width: 100%;
	height: fit-content;
	padding: 0 32px;
	display: flex;
	gap: 46px;
	justify-content: center;
}

.order_texture_element {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 182px;
	height: 202px;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;

	img {
		width: 150px;
		height: 150px;
		margin: 16px 16px 0 16px;
		border-radius: 12px;
	}
}

.order_texture_element__circle {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	border: 2px solid rgba(235, 16, 16, 0.5);
}

.order_instructions {
	width: 610px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.order_last_buttons {
	width: 930px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 32px 0;
}

.order_last_button {
	width: 446px;
	height: 56px;
	box-shadow: 0px 8px 16px rgba(51, 51, 51, 0.2);
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
}

.order_last_button__left {
	border: 1px solid rgba(108, 134, 226, 0.32);
	filter: drop-shadow(0px 8px 16px rgba(51, 51, 51, 0.2));

	img {
		padding-right: 8px;
	}
}

.order_last_button__right {
	background: linear-gradient(5.43deg, #eb1010 4.24%, #d74e4e 115.34%);
	box-shadow: 0px 8px 16px rgba(51, 51, 51, 0.2);
	color: white;
	border: 0;
}
